<style>
    section img:hover {
        transition:700ms;
        
    }
</style>

<section>
    <img src="/src/doc/Img-certificado.png" alt="img certificado" class="opacity-60 hover:opacity-100 " >
</section>