<style>
    section img:hover {
        transition:700ms;
        
    }
</style>

<section>
    <img src="/img/certificado-git.png" alt="img certificado git" class="opacity-60 hover:opacity-100 " >
</section>